*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #00203a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60vh;
    width: 80vw;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.title{
    height: 20vh;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    font-size: 20px;
    color: white;
}

hr{
    width: 28vw;
    height: 1vh;
    background-color: #017c4a;
    border: none;
}


.passbox{
    margin: 30px 0 ;
    height: 8vh;
    width: 35vw;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass{
    height: 40px;
    width: 30vw;
    /* border: 2px solid; */
}

.copy{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
}

.copy img{
    height: 80%;
    width: 80%;
}

button{
    height: 8vh;
    width: 17vw;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #017c4a;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button :first-child{
    height: 20px;
    width: 20px;
    /* border: 1px solid white; */
}

button img{
    height: 100%;
    width: 100%;
}

button :nth-child(2){
    height: 20px;
    width: 180px;
    /* border: 1px solid white; */
    font-size: 18px;
}